body{
background-color: lightblue;
font-family: Georgia, "Times New Roman", serif;}
table{border: 1px solid black;}
th, td{
  padding: 15px;
  border: 1px solid black
  border-bottom: 1px solid #ddd}
th{
  background-color: white;
  color: gray;
  border: 1px solid black;
}

  
h1{
  color: darkorange;
  text-align: center;}

